

.navbar-default,
.container-fluid,
.navbar-header,
.navbar-brand,
.navbar-nav li a {
    line-height:60px;
    height: 60px;
    padding-top: 0px;

}

.navbar-nav li a {
    color: black;

}

.navbar-nav li a:hover {
    color: darkgrey;
}


/*navbar-nav li a{
    align-content: right;
}*/
/*@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: right;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}*/

.carousel-inner, #googleMap {
    border: 10px solid #dddddd;
    /*box-shadow: 0px 0px 0px 10px #AAA;
    border-radius: 7px;
    -moz-border-radius: 7px;
    /*-webkit-border-radius: 7px;*/
}



.top-bar {
    position: absolute;
    width: 25%;
    left: 75%;
    margin: auto;
    margin-right: 1%;
}

.navbar-brand {
    position: absolute;
    width: 75%;
    left: 2%;
    margin: auto;
    margin-left: 1%;
}


.navbar-header a{
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}


.container {

}




.bunn-bar {
    position: absolute;
    width: 100%;
    left: 2%;
    margin: auto;
    margin-right: 1%;
}





/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 40%; /* Full width */
    top: 0;
    left: 0 !important;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0) !important; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 15% auto !important;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    /*vertical-align: middle; */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*
.row {
    vertical-align: middle;
    horiz-align: center;
    width: 100%;

} */





.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}