
.navbar-default,
.container-fluid,
.navbar-header,
.navbar-brand,
.navbar-nav li a {
    line-height:60px;
    height: 60px;
    padding-top: 0px;

}

.navbar-nav li a {
    color: black;

}

.navbar-nav li a:hover {
    color: darkgrey;
}



/*navbar-nav li a{
    align-content: right;
}*/
/*@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: right;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right !important;
    }
}*/

.carousel-inner, #googleMap {
    border: 1px solid #dddddd;
    /*box-shadow: 0px 0px 0px 10px #AAA;
    border-radius: 7px;
    -moz-border-radius: 7px;
    /*-webkit-border-radius: 7px;*/
}



.top-bar {
    position: absolute;
    width: 100%;
    left: 80%;
    margin: auto;
    margin-right: 1%;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 2%;
    margin: auto;
    margin-left: 1%;
}


.navbar-header a{
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}


.container {
    size: 10px;
}




.bunn-bar {
    position: absolute;
    width: 100%;
    left: 2%;
    margin: auto;
    margin-right: 1%;

}
